<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.elysee"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 访问互联网权限 根据需要添加 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SDCARD读写权限 根据需要添加 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态检测权限  根据需要添加 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="5" />

    <application
        android:name="com.cn.elysee.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.cn.elysee.BaseActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.cn.elysee.util.netstate.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>